/* =============== VARIABLES =============== */
:root {
    /* colors */
    --primary-color: hsl(200, 19%, 59%);
    --background-color: black;

    --text-color: hsl(200, 7%, 88%);
    --text-color-alt: hsl(200, 55%, 88%, 0.3);

    /* font sizes */
    --gigantic-font-size: 3rem;

    /* font weights */
    --h1-weight: 200;

}

/* for non-mobile */
@media screen and (min-width: 769px) {
    :root {
        /* font sizes */
        --gigantic-font-size: 6rem;
    }
}

/* =============== GLOBALS =============== */

* {
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    width: 100%;

    display: block;
    font-size: var(--body-font-size);
    font-family: 'Montserrat', sans-serif;;
    background-color: var(--background-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: var(--gigantic-font-size);
    font-weight: var(--h1-weight);
}

/* =============== TITLE =============== */
#title-container {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

#title-text {
    font-size: var(--gigantic-font-size);
    align-self: center;
    color: var(--text-color-alt);
}

#title-image {
    max-height: 50rem;
    width: auto;
}

/* ========== TRANSITIONS ========== */

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opacity 250ms ease-in, transform 800ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.fade-slowly {
    transition: opacity 2s ease-in;
}