#delete-me {
    width: 50%;
    line-height: 5rem;
}

/* =============== VARIABLES =============== */
:root {
    /* colors */
    --primary-color: hsl(200, 19%, 59%);
    --background-color: black;
    --background-color-lighter: hsl(200, 0%, 0%, 0.6);

    --text-color: hsl(200, 7%, 88%, 0.8);
    --text-color-alt: hsl(200, 55%, 88%, 0.3);
    --text-color-darker: rgba(140, 147, 151, 0.8);

    /* font sizes */
    --gigantic-font-size: 3rem;
    --normal-font-size: .85rem;

    /* font weights */
    --h1-weight: 200;

    /* misc */
    --general-padding: 5rem;

}

/* for small browsers */
@media screen and (min-width: 480px) and (max-width: 768px) {
    :root {
        --gigantic-font-size: 4.5rem;
    }
}

/* for non-mobile */
@media screen and (min-width: 769px) {
    :root {
        /* font sizes */
        --gigantic-font-size: 8rem;
        --normal-font-size: 1.2rem;

        /* misc */
        --general-padding: 6rem;
    }
}

/* =============== GLOBALS =============== */

* {
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    width: 100%;

    display: block;
    font-size: var(--normal-font-size);
    font-family: 'Montserrat', sans-serif;;
    background-color: var(--background-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: var(--gigantic-font-size);
    font-weight: var(--h1-weight);
}

/* =============== HEADER =============== */
#header{
    width: 100%;
    color: var(--text-color);
    position: fixed;
    padding: 1rem;
    transition: 0.3s;
    padding: 0.75rem;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-container {
    max-width: 35rem;
    width: 68%;

    display: flex;
    justify-content: space-between;
}

.menu-icon:hover,  #open-menu:hover, #menu-logo:hover, .hamburger-menu:hover{
    color: var(--text-color-alt);
}

.hamburger-menu {
    display: none;
}

#close-menu {
    display: none;
}

@media screen and (max-width: 480px) {
    #close-menu {
        display: unset;
    }

    .hamburger-menu {
        display: unset;
    }

    .navigation-container {
        display: none;

        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        padding: 1.5rem 1rem 1rem;
        text-align: center;
        background-color: var(--background-color-lighter);

        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* ========== JAVASCRIPT HEADER HELPERS ========== */

#close-menu, #open-menu {
    position: absolute;
    right: 1.3rem;
    top: 1rem;
    cursor: pointer;
}

.show-menu {
    top: 0;
}

.hide-toggle {
    display: none;
}

.show-toggle {
    display: unset;
}

/* =============== TITLE =============== */
#title-container {
    width: 100%;
    max-height: 55rem;
    height: 98vw;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);

    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#title-text {
    position: relative;
    white-space: nowrap;
    font-size: var(--gigantic-font-size);
    align-self: center;
    color: var(--text-color-darker);
    z-index: 2;
}

#title-image {
    position: absolute;
    max-height: 55rem;
    height: 98vw;
    width: auto;
    max-width: 50vw;
    object-fit: cover;
    right: 0;
    margin-right: 2rem;
}

/* ========== TRANSITIONS ========== */

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opacity 250ms ease-in, transform 800ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.fade-slowly {
    transition: opacity 2s ease-in;
}

.fade-very-slowly {
    transition: opacity 4s ease-in;
}