/* =============== VARIABLES =============== */
:root {
    /* colors */
    --primary-color: hsl(200, 19%, 59%);
    --background-color: black;
    --background-color-lighter: hsl(200, 0%, 0%, 0.6);

    --text-color: hsl(200, 7%, 88%, 0.8);
    --text-color-light: hsl(200, 7%, 88%, 0.6);
    --text-color-alt: hsl(200, 55%, 88%, 0.3);

    /* font sizes */
    --normal-font-size: .7rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1rem;
    --body-font-size: 1rem;
    --mini-font-size: .7rem;

    /* font weights */
    --h1-weight: 200;
    --h2-weight: 200;
    --h3-weight: 600;
    --h4-weight: 300;
    --h5-weight: 200;


    /* misc */
    --general-padding: 5rem;
    --title-margin: 1rem;

}

/* for small browsers */
@media screen and (min-width: 480px) and (max-width: 768px) {
    :root {
        --h1-font-size: 4.5rem;
        --h2-font-size: 3rem;
        --body-font-size: .8rem;
    }
}

/* for non-mobile */
@media screen and (min-width: 769px) {
    :root {
        /* font sizes */
        --h1-font-size: 8rem;
        --h2-font-size: 4rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --mini-font-size: .75rem;

        /* misc */
        --general-padding: 6rem;
        --title-margin: 2rem;
    }
}

/* =============== GLOBALS =============== */

* {
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    width: 100%;
    overflow-x: hidden;

    display: block;
    font-size: var(--normal-font-size);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-weight);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-weight);
    text-align: center;
    margin: var(--title-margin);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-weight);
    text-align: center;
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-weight);
    text-align: left;
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-weight);
    text-align: left;
    font-style: italic;
}

p {
    font-size: var(--body-font-size);
}

.body-container {
    width: 80%;
    max-width: 100vh;
    height: auto;
    text-align: justify;

    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.body-container p {
    margin-top: 2rem;
}

.body-container h3{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.body-self-links {
    cursor: pointer;
    padding-top: 4rem;
}

.body-self-links:hover {
    color: var(--text-color-alt);
}

.mini-font {
    font-size: var(--mini-font-size);
    line-height: 1rem;
}

.button {
    margin: 5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    display: block;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    opacity: .7;
    width: auto;
}

.button a {
    padding: 7px;
    border: solid var(--text-color-light) 2px;
}

/* =============== IMAGE BREAK =============== */
/* Image dimensions: 2730 × 4095 */
.image-break-container {
    height: auto;
    width: 100%;
    height: 200rem;

    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
}
.image-break {
    width: 100%;
    height: auto;
    max-width: 70vw;

    position: absolute;
    z-index: -1;
    right: 10%;
}

.reverse-image {
    left: 30%;
}

.image-break-text {
    position: relative;
    white-space: nowrap;
    font-size: var(--h1-font-size);
    align-self: center;
    color: var(--text-color-light);
    z-index: 2;
    margin-left: -15rem;
}

.reverse-text {
    margin: 0;
    right: 10%;
}

/* adjusts positions for smaller screen*/

@media screen and (max-width: 768px) {
    .image-break-text {
        position: relative;
        white-space: nowrap;
        font-size: var(--h1-font-size);
        align-self: center;
        color: var(--text-color-light);
        z-index: 2;
        margin-left: -30rem;
    }
    
    .reverse-text {
        margin-left: -17rem;
    }
}

#title-break {
    font-size: var(--h2-font-size);
}

/* =============== HEADER =============== */
#header{
    width: 100%;
    color: var(--text-color);
    position: fixed;
    padding: 1rem;
    transition: 0.3s;
    padding: 0.75rem;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-container {
    max-width: 35rem;
    width: 68%;

    display: flex;
    justify-content: space-between;
}

.menu-icon:hover,  #open-menu:hover, #menu-logo:hover, .hamburger-menu:hover{
    color: var(--text-color-alt);
}

.hamburger-menu {
    display: none;
}

#close-menu {
    display: none;
}

.uil {
    font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
    #header {
        font-size: var(--h3-font-size);
    }

    #header a {
        line-height: 3rem;
    }

    #close-menu {
        display: unset;
    }

    .hamburger-menu {
        display: unset;
    }

    .navigation-container {
        display: none;

        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        padding: 1.5rem 1rem 1rem;
        text-align: center;
        background-color: var(--background-color-lighter);
        z-index: 3;

        display: flex;
        flex-direction: column;
    }
}

.navigation-container a {
    margin-right: 3%;
}

/* ========== JAVASCRIPT HEADER HELPERS ========== */

#close-menu, #open-menu {
    position: absolute;
    right: 1.3rem;
    top: 1rem;
    cursor: pointer;
}

.show-menu {
    top: 0;
}

.hide-toggle {
    display: none;
}

.show-toggle {
    display: unset;
}

/* =============== TITLE =============== */
#title-container {
    width: 100%;
    max-width: 1300px;
    max-height: 55rem;
    height: 98vw;
    padding-left: var(--general-padding);
    padding-right: var(--general-padding);

    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#title-text {
    position: relative;
    white-space: nowrap;
    font-size: var(--h1-font-size);
    align-self: center;
    color: var(--text-color);
    z-index: 2;
    margin-left: -2rem;
}

#title-image {
    position: absolute;
    max-height: 55rem;
    height: 98vw;
    width: auto;
    max-width: 50vw;
    object-fit: cover;
    right: 5%;
    margin-right: 2rem;
}

/* ========== ABOUT ========== */
#about-container {
    text-align: center;
}

#about-container p {
    margin-top: 0;
}

/* ========== TUITION ========== */
#tuition-container {
    text-align: center;
}

#tuition-container p {
    margin-top: 0;
}

#fees {
    display: flex;
    flex-direction: column;
}

/* ========== CLASSES ========== */
#classes-container {
    text-align: center;
}

/* ========== STAFF ========== */
#staff-container {
    text-align: left;
}

.staff-element {
    width: 100%;
    
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.title-text-container {
    display: flex;
    flex-direction: column;
}

.title-text-container {
    width: 100%;
}

.staff-image {
    width: auto;
    height: auto;
    max-width: 180px;
    margin-right: 2rem;
}

/* ========== TRANSITIONS ========== */

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opacity 250ms ease-in, transform 800ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.fade-slowly {
    transition: opacity 2s ease-in;
}

.fade-very-slowly {
    transition: opacity 4s ease-in;
}

/* =============== FOOTER =============== */
#footer-container {
    margin-top: 50rem;
    margin-bottom: 15rem;
    height: auto;
}

#footer-links {
    margin-top: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-links i {
    margin: 2rem;
}

/* ========== MEDIA QUERIES ========== */
/* non-mobile size */
@media screen and (min-width: 769px) {
    .staff-element {
        flex-direction: row;
    }
}
/* laptop size */
@media screen and (min-width: 1025px) {
    #title-text {
        margin-left: 6rem;
    }
} 

/* desktop size */
@media screen and (min-width: 1500px) {
    
} 